<% if @practiseds %>
  <h2>Part 1</h2>

  <% @part_1s.each do |topic| %>
    <%= render(layout: "topics/show", locals: { topic: topic }) do%>
      <p>
        <%= simple_format(topic.part_1) %>
      </p>

      <%= render "practiseds/new", practised: @practised, topic: topic %>
    <% end %>
  <% end %>

  <h2>Part 2 and 3</h2>

  <% @part_2s.each do |topic| %>
    <%= render(layout: "topics/show", locals: { topic: topic }) do %>
      <strong><%= topic.part_2 %></strong>
      <p><%= simple_format(topic.part_2_hints) %></p>

      <hr>

      <p><%= simple_format(topic.part_3) %></p>

      <%= render "practiseds/new", practised: @practised, topic: topic %>
    <% end %>
  <% end %>
<% else %>
  <h2>Part 1</h2>

  <% @part_1s.each do |topic| %>
    <%= render(layout: "topics/show", locals: { topic: topic }) do%>
      <p>
        <%= simple_format(topic.part_1) %>
      </p>
    <% end %>
  <% end %>

  <h2>Part 2 and 3</h2>

  <% @part_2s.each do |topic| %>
    <%= render(layout: "topics/show", locals: { topic: topic }) do %>
      <strong><%= topic.part_2 %></strong>
      <p><%= simple_format(topic.part_2_hints) %></p>

      <hr>

      <p><%= simple_format(topic.part_3) %></p>
    <% end %>
  <% end %>
<% end %>

