<h1>All topics</h1>

<%= link_to "Add new topic", new_topic_path, class: "btn btn-primary" %>

<% @topics.each do |topic| %>
  <details class="topic-details">
    <summary>
      <h3>
        <%= topic.name %>

        <%= link_to edit_topic_path(topic) do %>
          <i class="far fa-edit"></i>
        <% end %>

        <%= link_to topic_path(topic), method: :delete, data: { confirm: "Confirm delete?" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </h3>
    </summary>

    <p>
      <%= simple_format(topic.questions) %>
    </p>

    <% if !topic.is_part_1 %>
      <p>
        <%= simple_format(topic.follow_ups) %>
      </p>
    <% end %>
  </details>
<% end %>
