<% content_for :title, @category.name %>

<h1 class="<%= @category.current ? '' : 'text-grey' %> ">
  <%= @category.name %>

  <% if current_user.admin? %>
    <%= link_to edit_category_path(@category) do %>
      <i class="far fa-edit"></i>
    <% end %>

    <%= link_to category_path(@category), method: :delete, data: { confirm: "Warning! This will delete all associated topics. Continue?" } do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  <% end %>
</h1>

<p>(<%= @category.current ? 'Current' : 'Former' %> Topic Set)</p>

<h2>Part 1</h2>

<div class="topics">
  <% @part_1s.each do |topic| %>
    <details class="topic-details">
      <summary>
        <h3>
          <%= topic.name %>

          <i class="fas fa-caret-down"></i>

          <%= link_to edit_topic_path(topic) do %>
            <i class="far fa-edit"></i>
          <% end %>

          <%= link_to topic_path(topic), method: :delete, data: { confirm: "Confirm delete?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </h3>
      </summary>

      <p><%= simple_format(topic.part_1) %></p>
    </details>
  <% end %>
</div>

<h2>Part 2 and 3</h2>

<div class="topics">
  <% @part_2s.each do |topic| %>
    <details class="topic-details">
      <summary>
        <h3>
          <%= topic.name %>

          <i class="fas fa-caret-down"></i>

          <%= link_to edit_topic_path(topic) do %>
            <i class="far fa-edit"></i>
          <% end %>

          <%= link_to topic_path(topic), method: :delete, data: { confirm: "Confirm delete?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </h3>
      </summary>

      <strong><%= topic.part_2 %> <em>You should say:</em></strong>

      <p><%= simple_format(topic.part_2_hints) %></p>

      <hr>

      <p><%= simple_format(topic.part_3) %></p>
    </details>
  <% end %>
</div>
